@font-face {
  font-family: "Gerbil";
  src: url("../src/assets/Fonts/Gerbil.otf") format("opentype");
  font-weight:400 ;
  font-style: regular;
  font-display: swap;
  
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi.ttf") format("truetype");
  font-display: swap;
}

:root {
  --text-primary: #0000;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
  
}

.hero__title,
.section-title,
.navbar__logo {
  font-family: "Gerbil", sans-serif;
}